.container {
  padding: 0 60px;
}
.section {
  padding: 60px 0;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  background-image: url(../../src/assets/images/background.jpg);

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.table {
  &__box {
    display: flex;
    margin-top: 60px;
    justify-content: center;
  }
  &__episode {
    margin-right: 30px;
  }
  &__el {
    width: 100%;
    min-width: 480px;
    border-collapse: collapse;

    color: yellow;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__header {
    padding: 22px 18px 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    background-color: black;

    &:first-child {
      border-top-left-radius: 30px;
    }
    &:last-child {
      border-top-right-radius: 30px;
    }
  }

  &__item {
    padding: 22px 22px 4px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.6) inset;
    // rgba(34, 60, 80, 0.6)
    // rgba(0, 0, 0, 0.83)
  }
  &__boxWithArrow {
    display: flex;
    align-items: center;
  }
  &__footer {
    height: 50px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.6) inset;

    &:first-child {
      border-top-left-radius: 30px;
    }
    &:last-child {
      border-bottom-right-radius: 30px;
    }
  }
}
.table__el th,
.table__el td {
  text-align: center;
  vertical-align: baseline;
  padding-bottom: 15px;
}
.arrows {
  &__list {
    display: flex;
    margin-left: 12px;
  }
  &__item:not(:last-child) {
    margin-right: 5px;
  }
  &__btn {
    padding: 8px;
    outline: none;
    border: transparent;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: yellow;
    cursor: pointer;
    transition: transform 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
      transform: scale(1.1);
      border-radius: 45px;

      font-size: 24px;
      font-weight: bold;
    }
  }
}
