.header {
  &__section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0 30px 0;
    z-index: 50;
    width: 100vw;
    height: 250px;
    background-image: url(../src/assets/images/home-page-header.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    padding: 10px 12px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2;
    color: yellow;
    background-color: black;
    border-radius: 10px;
  }
}
.preloader {
  display: flex;
  justify-content: center;
}
